h1 {
    color: brown;
}
img {
    width: 400px;


}
#thirdDiv {

    height: 600px;
    width: 500px;
    background-color: brown;
    padding: 50px;
    border: 10px solid blue;
    border-radius: 0px 50px 0px 50px;

}
#spanId {
    font-size: 18px;
    margin: 50px;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("https://i.postimg.cc/2jd0RvmC/Zelda-trnasparente.png");
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    text-align: center;
}